## Imports

In [1]:
import openai
import tiktoken

import pandas as pd
import json

from dateutil import parser as date_parser
from unidecode import unidecode

import os
import time
import re

## Table Generator

In [2]:
class TableGenerator_JSON():
    TEMPLATE = """
    [INST] <<SYS>>
    You are a retriever of facts.
    <</SYS>>  
    
    List %s - as many as possible to fit into response.
    The response will be formatted as JSON shown below.
    Each element of the response will contain %d fields: %s.
    Do not output any additional text that is not in JSON format.
    
    RESPONSE FORMAT:
    [{
        %s
    }]

    [/INST]
    """  
    
    def _norm_field(self, s):
        s = s.lower().replace(" ","_").replace("-","_").replace(".", "").replace(",","_")\
                .replace("(", "").replace(")", "").replace(":", "").replace('"','').replace("'","")\
                .replace("/", "")
        return re.sub('_+', '_', s)
        
    def generate_prompt(self, query, fields):
        num_fields = len(fields)
        fields_json = []
        fields = [self._norm_field(f) for f in fields]
        for field in fields:
            fields_json.append('"%s": "%s"' % ('_'.join(field.replace("-", " ").split()), field))
        response_format = ', '.join(fields_json)
        prompt = self.TEMPLATE % (query, num_fields, fields, response_format)
        return prompt       
    
    def parse_llm_response(self, response): 
        res = []
        try:
            if not response.startswith("[") and "[" in response:
                response = response[response.find("["):]

            if not response.endswith("]") and "]" in response:
                response = response[:response.rfind("]")+1]

            if '[' not in response and ']' not in response and '{' in response and '}' in response:
                response = '[' + response + ']'    

            response_json = json.loads(response)

            if isinstance(response_json, dict) and len(response_json.keys()) == 1:
                response_json = list(response_json.values())[0]    
        except:  
            split_response = response.split("{")
            response_json = []
            for s in split_response[1:]:
                split_s = s.split("}")
                if len(split_s) > 1:
                    content = split_s[0]
                    attributes = content.split(",")
                    elements = {}
                    for attr in attributes:
                        knv = attr.split(":")   
                        if len(knv) > 1:
                            parsed_k = "%s" % knv[0].replace('"','').strip()
                            parsed_v = "%s" % knv[1].replace('"','').strip()
                            elements[parsed_k] = parsed_v

                    response_json.append(elements)  

        df = pd.DataFrame.from_records(response_json) 
        return df

## Experiment Runner

In [3]:
class ExperimentRunner():
    openai.api_key = ""
    openai.api_base = "https://api.deepinfra.com/v1/openai"
    MODEL = "meta-llama/Meta-Llama-3.1-70B-Instruct"
    NOTE = 'full_table'
    MAX_LEN = 3900
    
    def __init__(self, table_generator, metadata_path):
        with open(metadata_path, "rb") as f:
            self.metadata = json.load(f)
            
        self.table_generator = table_generator
        self.encoding = tiktoken.get_encoding("cl100k_base")
        
        self.result_folder = "DATA/%s_%s_%s" % (self.MODEL.split("/")[-1].replace('-', '_'), 
                                                   self.NOTE,
                                                   time.strftime("%Y%m%d-%H%M%S"))
        
        print("Experiment result folder: %s" % self.result_folder)
        
        os.makedirs(self.result_folder)
        os.makedirs("%s/Tables" % self.result_folder)
        
        self.result = {}
        
    def fetch_data(self, idx):
        task = self.metadata[idx]
        
        task_name = task['name']        
        print("Fetching data for %s" % task_name)
        
        query, columns = task['table_title'], task['columns']            
        print("Query: ", query) 
        
        prompt = self.table_generator.generate_prompt(query, columns)        

        self.result[idx] = {'prompt': prompt}
        
        try:
            max_tokens = self.MAX_LEN - len(self.encoding.encode(prompt))
            result = openai.ChatCompletion.create(
                model=self.MODEL,
                messages=[{"role": "user", "content": prompt}],
                temperature=0,
                max_tokens=max_tokens
            )
   
            response = result["choices"][0]["message"]["content"].strip()

            if 'response' in self.result[idx]:
                self.result[idx]['response'].append(response)
            else:    
                self.result[idx]['response'] = [response]

            df = self.table_generator.parse_llm_response(response)          
            df_ref = pd.read_csv(task['path'])          
            df.columns = df_ref.columns
            df = df.drop_duplicates(subset=task['keys'])

            table_path = "%s/Tables/%s.csv" % (self.result_folder, task_name)
            self.result[idx]['table_path'] = table_path                
            df.to_csv(table_path, index=False)

            print("Created table with %d rows" % len(df))

            return df
        except Exception as e:              
            print(e.__class__.__name__)
            print(e)
    
    def save_result(self):
        with open("%s/result.json" % self.result_folder, "w") as outfile:
            result_json = json.dumps(self.result, indent=4)
            outfile.write(result_json)

## Test

In [4]:
tg = TableGenerator_JSON()

runner = ExperimentRunner(tg, metadata_path="DATA/Benchmark/cfg.json")

print("\n====================\n")

for i in range(100):
    print("Table # %d" % (i+1))
    idx = "%d" % i
    table = runner.fetch_data(idx)
    print("\n====================\n")
    
runner.save_result()

Experiment result folder: DATA/Meta_Llama_3.1_70B_Instruct_full_table_20240726-231535

====================

Table # 1
Fetching data for republican_straw_polls_2012
Query:  results of straw polls for the Republican Party presidential primaries, 2012
Created table with 32 rows

====================

Table # 2
Fetching data for russia_demographics_1946_2012
Query:  vital statistics of Russia's demographics from 1946 to 2012
Created table with 15 rows

====================

Table # 3
Fetching data for belgium_demographics_1900_2011
Query:  vital statistics of Belgium's demographics from 1900 to 2011
Created table with 13 rows

====================

Table # 4
Fetching data for australia_demographics_1900_2010
Query:  vital statistics of Australia's demographics from 1900 to 2010
Created table with 23 rows

====================

Table # 5
Fetching data for new_brunswick_parishes_2006_2011
Query:  population statistics of the parishes in New Brunswick
Created table with 56 rows

====================

Table # 6
Fetching data for ice_hockey_2006
Query:  statistics for men's ice hockey at the 2006 Winter Olympics
Created table with 77 rows

====================

Table # 7
Fetching data for biathlon_sprint_standings_2009_10
Query:  results of men's sprint in 2009-10 Biathlon World Cup
Created table with 10 rows

====================

Table # 8
Fetching data for anaheim_ducks_draft_picks_1998_2013
Query:  Anaheim Ducks draft picks from 1998 to 2013
Created table with 65 rows

====================

Table # 9
Fetching data for south_african_class_15f_4_8_2
Query:  South African Class 15F 4-8-2 steam locomotives from 1938 to 1946
Created table with 120 rows

====================

Table # 10
Fetching data for tour_de_france_2009
Query:  riders who took part in 2009 Tour de France
Created table with 110 rows

====================

Table # 11
Fetching data for men_butterfly_100m_2009
Query:  men's 100 metre butterfly results in heats at the 2009 World Aquatics Championships
Created table with 72 rows

====================

Table # 12
Fetching data for playstation_3_cooperative_games
Query:  cooperative games for the PlayStation 3
Created table with 39 rows

====================

Table # 13
Fetching data for rock_band_downloadable_2011
Query:  downloadable songs for the Rock Band series released in 2011
Created table with 57 rows

====================

Table # 14
Fetching data for figure_skating_ladies_2009_2010
Query:  best scores for ladies in 2009-10 figure skating season
Created table with 6 rows

====================

Table # 15
Fetching data for minor_planets_discovered_by_nikolai_chernykh
Query:  minor planets discovered by Nikolai Chernykh
Created table with 164 rows

====================

Table # 16
Fetching data for elements
Query:  chemical elements
Created table with 38 rows

====================

Table # 17
Fetching data for curling_teams_women_2013_2014
Query:  teams on the women's 2013-14 World Curling Tour
Created table with 58 rows

====================

Table # 18
Fetching data for scottish_football_transfers_summer_2011
Query:  Scottish football transfers in summer 2011
Created table with 70 rows

====================

Table # 19
Fetching data for oregon_crime_1960_2009
Query:  crime statistics in Oregon from 1960 to 2009
Created table with 36 rows

====================

Table # 20
Fetching data for living_proof_the_farewell_tour
Query:  concerts of Living Proof: The Farewell Tour
Created table with 109 rows

====================

Table # 21
Fetching data for new_zealand_demographics_1921_2011
Query:  vital statistics of New Zealand's demographics from 1921 to 2011
Created table with 19 rows

====================

Table # 22
Fetching data for liechtenstein_demographics_1901_2011
Query:  vital statistics of Liechtenstein's demographics from 1901 to 2011
Created table with 12 rows

====================

Table # 23
Fetching data for usa_demographics_1935_2010
Query:  vital statistics of USA demographics from 1935 to 2010
Created table with 16 rows

====================

Table # 24
Fetching data for andorra_demographics_1948_2012
Query:  vital statistics of Andorra's demographics from 1948 to 2012
Created table with 15 rows

====================

Table # 25
Fetching data for iran_pro_league_2012_2013
Query:  team positions by round in Iran Pro League 2012-13
Created table with 15 rows

====================

Table # 26
Fetching data for english_latin_rivalry_1887_2012
Query:  results of school football rivalry between Boston Latin School and English High School of Boston from 1887 to 2012
Created table with 126 rows

====================

Table # 27
Fetching data for formula_one_drivers_2010
Query:  driver statistics from 2010 Formula One season
Created table with 25 rows

====================

Table # 28
Fetching data for sadaharu_oh_1959_1980
Query:  statistics of Sadaharu Oh from 1959 to 1980
Created table with 22 rows

====================

Table # 29
Fetching data for equestrian_2012
Query:  results of equestrian individual eventing at the 2012 Summer Olympics
Created table with 50 rows

====================

Table # 30
Fetching data for tennessee_vanderbilt_rivalry_1900_2012
Query:  results of Tennessee-Vanderbilt football rivalry from 1900 to 2012
Created table with 92 rows

====================

Table # 31
Fetching data for classic_100_ten_years_on
Query:  countdown results of Classic 100 Ten Years On (ABC)
Created table with 49 rows

====================

Table # 32
Fetching data for udaykumar_films
Query:  Udaykumar's films from 1956 to 1985
Created table with 53 rows

====================

Table # 33
Fetching data for fa_cup_qualifying_rounds_1999_2000
Query:  results of 1999-2000 FA Cup qualifying rounds
Created table with 102 rows

====================

Table # 34
Fetching data for portuguese_grape_varieties
Query:  Portuguese grape varieties
Created table with 22 rows

====================

Table # 35
Fetching data for ramsar_convention_parties
Query:  parties to the Ramsar Convention from 1 January 1975 to 31 December 2012
Created table with 136 rows

====================

Table # 36
Fetching data for guitar_hero_5_songs
Query:  songs in Guitar Hero 5
Created table with 65 rows

====================

Table # 37
Fetching data for south_cambridgeshire_district_council_1973_2012
Query:  composition figures of the South Cambridgeshire District Council from 1973 to 2012
Created table with 16 rows

====================

Table # 38
Fetching data for dublin_maternity_hospital_mortality_rates_1784_1849
Query:  yearly patient mortality rates at the Dublin Maternity Hospital from 1784 to 1849
Created table with 66 rows

====================

Table # 39
Fetching data for ship_launches_january_1944
Query:  ships launched in January 1944
Created table with 26 rows

====================

Table # 40
Fetching data for uk_demographics_1960_2012
Query:  vital statistics of UK demographics from 1960 to 2012
Created table with 34 rows

====================

Table # 41
Fetching data for fukushima_plant_operating_history_1970_2009
Query:  operating history of Fukushima Daiichi Nuclear Power Plant from 1970 to 2009
Created table with 40 rows

====================

Table # 42
Fetching data for new_zealand_football_results_1922_2012
Query:  New Zealand national football team's cumulative results from 1922 to 2012
Created table with 10 rows

====================

Table # 43
Fetching data for jack_nicklaus_achievements_1962_2005
Query:  career achievements by Jack Nicklaus from 1962 to 2005
Created table with 44 rows

====================

Table # 44
Fetching data for bond_credit_rating_1981_2008
Query:  Standard & Poor's one-year global corporate default rates from 1981 to 2008
Created table with 25 rows

====================

Table # 45
Fetching data for baltimore_oreoles_2012
Query:  pitching stats for 2012 Baltimore Orioles season
Created table with 17 rows

====================

Table # 46
Fetching data for david_robinson_40_pts_games
Query:  stats for games in which David Robinson scored 40 or more points
Created table with 18 rows

====================

Table # 47
Fetching data for latin_american_migration_to_uk_1997_2008
Query:  statistics on Latin American migration to the United Kingdom

Created table with 19 rows

====================

Table # 48
Fetching data for european_countries_gdp_2007_2012
Query:  sovereign states in Europe by GDP (nominal)
Created table with 48 rows

====================

Table # 49
Fetching data for royal_dulton_figurines_HN4100_HN4199
Query:  Royal Dulton figurines from HN4100 to HN4199
Created table with 83 rows

====================

Table # 50
Fetching data for adaalat_episodes_2012
Query:  Adaalat episodes from 1 January 2012 to 31 December 2012
Created table with 10 rows

====================

Table # 51
Fetching data for viktoria_plzen_1993_2012
Query:  stats of FC Viktoria Plzen from 1993-1994 to 2012-2013
Created table with 20 rows

====================

Table # 52
Fetching data for just_dance_kids_2_tracks
Query:  tracks of Just Dance Kids 2
Created table with 34 rows

====================

Table # 53
Fetching data for cross_country_junior_women_1996
Query:  results of 1996 IAAF World Cross Country Championships in Junior women's race
Created table with 20 rows

====================

Table # 54
Fetching data for metropolitan_opera_us_premieres
Query:  United States premieres at the Metropolitan Opera from 1883-12-20 to 2005-05-13
Created table with 46 rows

====================

Table # 55
Fetching data for kasparov_kramnik_1993_2004
Query:  chess games between Kasparov and Kramnik from 1993 to 2004
Created table with 24 rows

====================

Table # 56
Fetching data for decathlon_top50_1999
Query:  top 50 decathlon year rankings in 1999
Created table with 50 rows

====================

Table # 57
Fetching data for minor_planets_152601_152700
Query:  minor planets in the name range 152601-152700 from 152601 to 152700
Created table with 72 rows

====================

Table # 58
Fetching data for two_and_a_half_men_season_7
Query:  episodes of Two and a Half Men (season 7)
Created table with 22 rows

====================

Table # 59
Fetching data for moesha_season_7
Query:  Moesha episodes, season 3
Created table with 22 rows

====================

Table # 60
Fetching data for miss_new_york_usa_delegates_2012
Query:  delegates of Miss New York USA 2012
Created table with 10 rows

====================

Table # 61
Fetching data for clint_dolezel_stats_1995_2008
Query:  career stats of Clint Dolezel from 1995 to 2008
Created table with 14 rows

====================

Table # 62
Fetching data for oxford_university_undergraduate_admissions_1988_2010
Query:  University of Oxford undergraduate admissions statistics from 1988 to 2010
Created table with 23 rows

====================

Table # 63
Fetching data for serbia_demographics_1900_1912
Query:  vital statistics of Serbia's demographics from 1900 to 1912
Created table with 13 rows

====================

Table # 64
Fetching data for protein_data_bank_1976_2012
Query:  numbers of proteins added to Protein Data Bank from 1976 to 2012
Created table with 37 rows

====================

Table # 65
Fetching data for european_athletics_championships_1986
Query:  medals table of 1986 European Athletics Championships
Created table with 15 rows

====================

Table # 66
Fetching data for mongolia_provinces_population_79_89_00_09
Query:  census stats of provinces of Mongolia
Created table with 20 rows

====================

Table # 67
Fetching data for tulsa_shock_2010
Query:  player stats of 2010 Tulsa Shock season
Created table with 10 rows

====================

Table # 68
Fetching data for london_heathrow_busiest_routes_2012
Query:  60 busiest international routes to and from Heathrow Airport in 2012
Created table with 60 rows

====================

Table # 69
Fetching data for hungarian_grand_prix_qualifying_2012
Query:  results of qualifying races of 2012 Hungarian Grand Prix
Created table with 24 rows

====================

Table # 70
Fetching data for farum_park_national_games
Query:  national games played at Farum Park from 26 April 2000 to 9 June 2009
Created table with 70 rows

====================

Table # 71
Fetching data for india_poverty_2007
Query:  stats on poverty in India
Created table with 28 rows

====================

Table # 72
Fetching data for us_president_elections_idaho_2008
Query:  results of the United States presidential elections in Idaho, 2008
Created table with 44 rows

====================

Table # 73
Fetching data for blackburn_rovers_1995_1996
Query:  results of 1995-96 Blackburn Rovers F.C. season
Created table with 36 rows

====================

Table # 74
Fetching data for maurice_jarr_1958_2001
Query:  films of Maurice Jarr from 1958 to 2001
Created table with 25 rows

====================

Table # 75
Fetching data for 49ers_rams_rivalry_1980s
Query:  game stats of 49ers-Rams rivalry from 1980 to 1989
Created table with 20 rows

====================

Table # 76
Fetching data for academy_award_best_actress_2000s
Query:  actresses nominated for Academy Award for Best Actress in 2000s
Created table with 48 rows

====================

Table # 77
Fetching data for mens_walking_20km_record_1911_2007
Query:  men's 20 kilometres walk world record progression from 1911-01-01 to 2007-12-31
Created table with 44 rows

====================

Table # 78
Fetching data for booknotes_interviews_1996
Query:  Booknotes interviews first aired in 1996
Created table with 23 rows

====================

Table # 79
Fetching data for bafta_best_actor_leading_role_2000s
Query:  wins and nominations of BAFTA award for best actor in a leading role from 2000 to 2009
Created table with 50 rows

====================

Table # 80
Fetching data for troublemaker_song_release_history
Query:  radio and release hisory of Troublemaker (Olly Murs song)
Created table with 21 rows

====================

Table # 81
Fetching data for wind_power_kansas_2001_2011
Query:  wind power stats in Kansas from 2001 to 2011
Created table with 11 rows

====================

Table # 82
Fetching data for fljotsdalshreppur_population_1998_2011
Query:  population stats in Fljotsdalshreppur municipality from 1998 to 2011
Created table with 14 rows

====================

Table # 83
Fetching data for social_credit_party_1951_1984
Query:  election results of Social Credit Party (New Zealand) from 1951 to 1984
Created table with 12 rows

====================

Table # 84
Fetching data for soekarno_hatta_airport_2001_2012
Query:  volume stats of Soekarno-Hatta International Airport from 2001 to 2012
Created table with 12 rows

====================

Table # 85
Fetching data for ulrike_maier_season_standings_1985_1994
Query:  season standings of Ulrike Maier from 1985 to 1994
Created table with 10 rows

====================

Table # 86
Fetching data for black_dog_barking_charts
Query:  charts positions of the album Black Dog Barking
Created table with 19 rows

====================

Table # 87
Fetching data for ahl_scoring_leaders_1979_1980
Query:  top 10 scorers of 1979-1980 AHL season
Created table with 10 rows

====================

Table # 88
Fetching data for boxing_medal_table_olympics_1928
Query:  medals table for boxing at the 1928 Summer Olympics
Created table with 9 rows

====================

Table # 89
Fetching data for uefa_intertoto_cup_top_scorers_2001
Query:  top scorers of 2001 UEFA Intertoto Cup
Created table with 10 rows

====================

Table # 90
Fetching data for montenegro_eurovision_2007
Query:  songs and results from MontenegroSong 2007 competition
Created table with 10 rows

====================

Table # 91
Fetching data for great_ukrainians_series
Query:  Great Ukrainians documentary series
Created table with 21 rows

====================

Table # 92
Fetching data for elland_road_leeds_united_attendance_2000_2012
Query:  attendance stats of Leeds United at Elland Road from 2000-2001 to 2012-2013
Created table with 13 rows

====================

Table # 93
Fetching data for sydney_hobart_yacht_race_2007
Query:  top 10 line honour results of 2007 Sydney to Hobart yacht race
Created table with 10 rows

====================

Table # 94
Fetching data for kal_penn_tv_roles_1999_2013
Query:  television roles of Kal Penn from 1999 to 2013
Created table with 13 rows

====================

Table # 95
Fetching data for susen_tiedtke_achievements_1987_2000
Query:  achievements of Susen Tiedtke from 1987 to 2000

Created table with 13 rows

====================

Table # 96
Fetching data for bifa_british_independent_film_2010_2012
Query:  winners and nominees of BIFA Award for Best British Independent Film from 2010 to 2012
Created table with 15 rows

====================

Table # 97
Fetching data for through_the_wormhole_season_4
Query:  episodes of Through the Wormhole season 4
Created table with 10 rows

====================

Table # 98
Fetching data for un_habitat_scroll_of_honour_award_1991
Query:  winners of UN-Habitat Scroll of Honour Award in 1991
Created table with 7 rows

====================

Table # 99
Fetching data for miss_universe_semifinal_scores_1993
Query:  semifinal scores of Miss Universe 1993
Created table with 6 rows

====================

Table # 100
Fetching data for woodley_season_1_2012
Query:  episodes of Woodley season 1
Created table with 8 rows

====================