## Imports

In [1]:
import openai
import tiktoken

import pandas as pd
import json

from dateutil import parser as date_parser
from unidecode import unidecode

import os
import time
import re

## Table Generator

In [2]:
class TableGenerator_JSON():
    TEMPLATE = """
    You are a retriever of facts.
    List all %s.
    The response will be formatted as JSON shown below.
    Each element of the response will contain %d fields: %s.
    Do not output any additional text that is not in JSON format.
        
    RESPONSE FORMAT:
    [{
        %s
    }]
    """ 
    
    def _norm_field(self, s):
        s = s.lower().replace(" ","_").replace("-","_").replace(".", "").replace(",","_")\
                .replace("(", "").replace(")", "").replace(":", "").replace('"','').replace("'","")\
                .replace("/", "")
        return re.sub('_+', '_', s)
    
    def generate_prompt(self, table_description, fields, example):
        num_fields = len(fields)
        fields_json = []
        fields = [self._norm_field(f) for f in fields]
        for field, value in zip(fields, example):
            fields_json.append('"%s": "%s"' % (field, value))
        response_format = ', '.join(fields_json)
        prompt = self.TEMPLATE % (table_description, num_fields, fields, response_format)
        return prompt  
    
    def parse_llm_response(self, response, fields): 
        fields = [self._norm_field(f) for f in fields]
        
        res = []
        try:
            if not response.startswith("[") and "[" in response:
                response = response[response.find("["):]

            if not response.endswith("]") and "]" in response:
                response = response[:response.rfind("]")+1]

            if '[' not in response and ']' not in response and '{' in response and '}' in response:
                response = '[' + response + ']'    

            response_json = json.loads(response)

            if isinstance(response_json, dict) and len(response_json.keys()) == 1:
                response_json = list(response_json.values())[0]    
        except:  
            split_response = response.split("{")
            response_json = []
            for s in split_response[1:]:
                split_s = s.split("}")
                if len(split_s) > 1:
                    content = split_s[0]
                    attributes = content.split(",")
                    elements = {}
                    for attr in attributes:
                        knv = attr.split(":")   
                        if len(knv) > 1:
                            parsed_k = "%s" % knv[0].replace('"','').strip()
                            parsed_v = "%s" % knv[1].replace('"','').strip()
                            elements[parsed_k] = parsed_v

                    response_json.append(elements)  
        
        valid_response_json = []
        for row in response_json:
            element = {}
            for k, v in row.items():
                if k in fields:
                    element[k] = row[k]
                valid_response_json.append(element)
        
        df = pd.DataFrame.from_records(valid_response_json) 
        return df

## Experiment Runner

In [3]:
class ExperimentRunner():
    openai.api_key = ""
    openai.api_base = "https://api.deepinfra.com/v1/openai"
    MODEL = "meta-llama/Meta-Llama-3.1-70B-Instruct"
    NOTE = 'full_table_first_example'
    MAX_LEN = 3900
    
    def __init__(self, table_generator, metadata_path):
        with open(metadata_path, "rb") as f:
            self.metadata = json.load(f)
            
        self.table_generator = table_generator
        self.encoding = tiktoken.get_encoding("cl100k_base")
        
        self.result_folder = "DATA/%s_%s_%s" % (self.MODEL.split("/")[-1].replace('-', '_'), 
                                                   self.NOTE,
                                                   time.strftime("%Y%m%d-%H%M%S"))
        
        print("Experiment result folder: %s" % self.result_folder)
        
        os.makedirs(self.result_folder)
        os.makedirs("%s/tables" % self.result_folder)
        
        self.result = {}
        
    def fetch_data(self, idx):
        task = self.metadata[idx]
        
        task_name = task['name']        
        print("Fetching data for %s" % task_name)
        
        query, columns = task['table_title'], task['columns']  
        
        df_ref = pd.read_csv(task['path'])  
        row_ref = df_ref.iloc[0]
        example = [row_ref[i] for i in range(df_ref.shape[1])]   
        
        prompt = self.table_generator.generate_prompt(query, columns, example)        

        self.result[idx] = {'prompt': prompt}        
            
        try:
            max_tokens = self.MAX_LEN - len(self.encoding.encode(prompt))
            result = openai.ChatCompletion.create(
                model=self.MODEL,
                messages=[{"role": "user", "content": prompt}],
                temperature=0,
                max_tokens=max_tokens
            )   
            response = result["choices"][0]["message"]["content"].strip()

            if 'response' in self.result[idx]:
                self.result[idx]['response'].append(response)
            else:    
                self.result[idx]['response'] = [response]

            df = self.table_generator.parse_llm_response(response, columns) 
     
            df.columns = df_ref.columns
            df = df.drop_duplicates(subset=task['keys'])

            table_path = "%s/tables/%s.csv" % (self.result_folder, task_name)
            self.result[idx]['table_path'] = table_path                
            df.to_csv(table_path, index=False)            

            print("Created table with %d rows" % len(df))

            return df
        except Exception as e:  
            print(e.__class__.__name__)
            
    def save_result(self):
        with open("%s/result.json" % self.result_folder, "w") as outfile:
            result_json = json.dumps(self.result, indent=4)
            outfile.write(result_json)

## Test

In [4]:
tg = TableGenerator_JSON()

runner = ExperimentRunner(tg, metadata_path="DATA/benchmark/cfg.json")

print("\n====================\n")

for i in range(100):
    print("Table # %d" % (i+1))
    idx = "%d" % i
    table = runner.fetch_data(idx)
    print("\n====================\n")
    
runner.save_result()

Experiment result folder: DATA/Meta_Llama_3.1_70B_Instruct_full_table_first_example_20240922-100716

====================

Table # 1
Fetching data for republican_straw_polls_2012
Created table with 40 rows

====================

Table # 2
Fetching data for russia_demographics_1946_2012
Created table with 21 rows

====================

Table # 3
Fetching data for belgium_demographics_1900_2011
Created table with 33 rows

====================

Table # 4
Fetching data for australia_demographics_1900_2010
Created table with 33 rows

====================

Table # 5
Fetching data for new_brunswick_parishes_2006_2011
Created table with 55 rows

====================

Table # 6
Fetching data for ice_hockey_2006
Created table with 75 rows

====================

Table # 7
Fetching data for biathlon_sprint_standings_2009_10
Created table with 10 rows

====================

Table # 8
Fetching data for anaheim_ducks_draft_picks_1998_2013
Created table with 66 rows

====================

Table # 9
Fetching data for south_african_class_15f_4_8_2
Created table with 121 rows

====================

Table # 10
Fetching data for tour_de_france_2009
Created table with 108 rows

====================

Table # 11
Fetching data for men_butterfly_100m_2009
Created table with 76 rows

====================

Table # 12
Fetching data for playstation_3_cooperative_games
Created table with 40 rows

====================

Table # 13
Fetching data for rock_band_downloadable_2011
Created table with 55 rows

====================

Table # 14
Fetching data for figure_skating_ladies_2009_2010
Created table with 10 rows

====================

Table # 15
Fetching data for minor_planets_discovered_by_nikolai_chernykh
Created table with 151 rows

====================

Table # 16
Fetching data for elements
Created table with 37 rows

====================

Table # 17
Fetching data for curling_teams_women_2013_2014
Created table with 45 rows

====================

Table # 18
Fetching data for scottish_football_transfers_summer_2011
Created table with 114 rows

====================

Table # 19
Fetching data for oregon_crime_1960_2009
Created table with 34 rows

====================

Table # 20
Fetching data for living_proof_the_farewell_tour
Created table with 38 rows

====================

Table # 21
Fetching data for new_zealand_demographics_1921_2011
Created table with 19 rows

====================

Table # 22
Fetching data for liechtenstein_demographics_1901_2011
Created table with 12 rows

====================

Table # 23
Fetching data for usa_demographics_1935_2010
Created table with 16 rows

====================

Table # 24
Fetching data for andorra_demographics_1948_2012
Created table with 45 rows

====================

Table # 25
Fetching data for iran_pro_league_2012_2013
Created table with 16 rows

====================

Table # 26
Fetching data for english_latin_rivalry_1887_2012
Created table with 126 rows

====================

Table # 27
Fetching data for formula_one_drivers_2010
Created table with 23 rows

====================

Table # 28
Fetching data for sadaharu_oh_1959_1980
Created table with 21 rows

====================

Table # 29
Fetching data for equestrian_2012
Created table with 50 rows

====================

Table # 30
Fetching data for tennessee_vanderbilt_rivalry_1900_2012
Created table with 92 rows

====================

Table # 31
Fetching data for classic_100_ten_years_on
Created table with 43 rows

====================

Table # 32
Fetching data for udaykumar_films
Created table with 50 rows

====================

Table # 33
Fetching data for fa_cup_qualifying_rounds_1999_2000
Created table with 107 rows

====================

Table # 34
Fetching data for portuguese_grape_varieties
Created table with 53 rows

====================

Table # 35
Fetching data for ramsar_convention_parties
Created table with 123 rows

====================

Table # 36
Fetching data for guitar_hero_5_songs
Created table with 47 rows

====================

Table # 37
Fetching data for south_cambridgeshire_district_council_1973_2012
Created table with 12 rows

====================

Table # 38
Fetching data for dublin_maternity_hospital_mortality_rates_1784_1849
Created table with 66 rows

====================

Table # 39
Fetching data for ship_launches_january_1944
Created table with 26 rows

====================

Table # 40
Fetching data for uk_demographics_1960_2012
Created table with 33 rows

====================

Table # 41
Fetching data for fukushima_plant_operating_history_1970_2009
Created table with 40 rows

====================

Table # 42
Fetching data for new_zealand_football_results_1922_2012
Created table with 54 rows

====================

Table # 43
Fetching data for jack_nicklaus_achievements_1962_2005
Created table with 44 rows

====================

Table # 44
Fetching data for bond_credit_rating_1981_2008
Created table with 25 rows

====================

Table # 45
Fetching data for baltimore_oreoles_2012
Created table with 18 rows

====================

Table # 46
Fetching data for david_robinson_40_pts_games
Created table with 13 rows

====================

Table # 47
Fetching data for latin_american_migration_to_uk_1997_2008
Created table with 19 rows

====================

Table # 48
Fetching data for european_countries_gdp_2007_2012
Created table with 44 rows

====================

Table # 49
Fetching data for royal_dulton_figurines_HN4100_HN4199
Created table with 87 rows

====================

Table # 50
Fetching data for adaalat_episodes_2012
Created table with 73 rows

====================

Table # 51
Fetching data for viktoria_plzen_1993_2012
Created table with 20 rows

====================

Table # 52
Fetching data for just_dance_kids_2_tracks
Created table with 35 rows

====================

Table # 53
Fetching data for cross_country_junior_women_1996
Created table with 41 rows

====================

Table # 54
Fetching data for metropolitan_opera_us_premieres
Created table with 50 rows

====================

Table # 55
Fetching data for kasparov_kramnik_1993_2004
Created table with 28 rows

====================

Table # 56
Fetching data for decathlon_top50_1999
Created table with 24 rows

====================

Table # 57
Fetching data for minor_planets_152601_152700
Created table with 59 rows

====================

Table # 58
Fetching data for two_and_a_half_men_season_7
Created table with 22 rows

====================

Table # 59
Fetching data for moesha_season_7
Created table with 22 rows

====================

Table # 60
Fetching data for miss_new_york_usa_delegates_2012
Created table with 9 rows

====================

Table # 61
Fetching data for clint_dolezel_stats_1995_2008
Created table with 14 rows

====================

Table # 62
Fetching data for oxford_university_undergraduate_admissions_1988_2010
Created table with 23 rows

====================

Table # 63
Fetching data for serbia_demographics_1900_1912
Created table with 13 rows

====================

Table # 64
Fetching data for protein_data_bank_1976_2012
Created table with 37 rows

====================

Table # 65
Fetching data for european_athletics_championships_1986
Created table with 17 rows

====================

Table # 66
Fetching data for mongolia_provinces_population_79_89_00_09
Created table with 21 rows

====================

Table # 67
Fetching data for tulsa_shock_2010
Created table with 13 rows

====================

Table # 68
Fetching data for london_heathrow_busiest_routes_2012
Created table with 60 rows

====================

Table # 69
Fetching data for hungarian_grand_prix_qualifying_2012
Created table with 23 rows

====================

Table # 70
Fetching data for farum_park_national_games
Created table with 17 rows

====================

Table # 71
Fetching data for india_poverty_2007
Created table with 27 rows

====================

Table # 72
Fetching data for us_president_elections_idaho_2008
Created table with 44 rows

====================

Table # 73
Fetching data for blackburn_rovers_1995_1996
Created table with 36 rows

====================

Table # 74
Fetching data for maurice_jarr_1958_2001
Created table with 24 rows

====================

Table # 75
Fetching data for 49ers_rams_rivalry_1980s

Created table with 20 rows

====================

Table # 76
Fetching data for academy_award_best_actress_2000s
Created table with 50 rows

====================

Table # 77
Fetching data for mens_walking_20km_record_1911_2007
Created table with 30 rows

====================

Table # 78
Fetching data for booknotes_interviews_1996
Created table with 36 rows

====================

Table # 79
Fetching data for bafta_best_actor_leading_role_2000s
Created table with 10 rows

====================

Table # 80
Fetching data for troublemaker_song_release_history
Created table with 6 rows

====================

Table # 81
Fetching data for wind_power_kansas_2001_2011
Created table with 11 rows

====================

Table # 82
Fetching data for fljotsdalshreppur_population_1998_2011
Created table with 14 rows

====================

Table # 83
Fetching data for social_credit_party_1951_1984
Created table with 12 rows

====================

Table # 84
Fetching data for soekarno_hatta_airport_2001_2012
Created table with 12 rows

====================

Table # 85
Fetching data for ulrike_maier_season_standings_1985_1994
Created table with 10 rows

====================

Table # 86
Fetching data for black_dog_barking_charts
Created table with 12 rows

====================

Table # 87
Fetching data for ahl_scoring_leaders_1979_1980
Created table with 10 rows

====================

Table # 88
Fetching data for boxing_medal_table_olympics_1928
Created table with 9 rows

====================

Table # 89
Fetching data for uefa_intertoto_cup_top_scorers_2001
Created table with 5 rows

====================

Table # 90
Fetching data for montenegro_eurovision_2007
Created table with 3 rows

====================

Table # 91
Fetching data for great_ukrainians_series
Created table with 9 rows

====================

Table # 92
Fetching data for elland_road_leeds_united_attendance_2000_2012
Created table with 13 rows

====================

Table # 93
Fetching data for sydney_hobart_yacht_race_2007
Created table with 10 rows

====================

Table # 94
Fetching data for kal_penn_tv_roles_1999_2013
Created table with 12 rows

====================

Table # 95
Fetching data for susen_tiedtke_achievements_1987_2000
Created table with 13 rows

====================

Table # 96
Fetching data for bifa_british_independent_film_2010_2012
Created table with 3 rows

====================

Table # 97
Fetching data for through_the_wormhole_season_4
Created table with 10 rows

====================

Table # 98
Fetching data for un_habitat_scroll_of_honour_award_1991
Created table with 5 rows

====================

Table # 99
Fetching data for miss_universe_semifinal_scores_1993
Created table with 6 rows

====================

Table # 100
Fetching data for woodley_season_1_2012
Created table with 8 rows

====================