## Imports

In [1]:
import openai
import tiktoken

import pandas as pd
import json

from dateutil import parser as date_parser
from unidecode import unidecode

import os
import time
import re

## Table Generator

In [2]:
class TableGenerator_JSON():  
    SYSTEM_MSG = "You are a retriever of facts."
    
    ROW_TEMPLATE = """
    We want to create a table with the detailed information about %s.
    Columns in the table are %s.
    %s.     
    Retrieve a single row whose key is %s.
    The response will be formatted as JSON dictionary shown below.
    Pay special attention to wrap all property names and values in double quotes!
    
    RESPONSE FORMAT:
    {
        %s
    }
    """ 
    
    def _norm_field(self, s):
        s = s.lower().replace(" ","_").replace("-","_").replace(".", "").replace(",","_")\
                .replace("(", "").replace(")", "").replace(":", "").replace('"','').replace("'","")\
                .replace("/", "")
        return re.sub('_+', '_', s)
    
    def _key_columns(self, keys):
        if len(keys) == 1:
            return "The key column in the table is %s" % keys[0]
        else:
            return "The key columns in the table are %s" % ", ".join(keys)
    
    def generate_row_prompt(self, query, keys, fields, fetched_key):        
        for key in keys:
            fetched_key[self._norm_field(key)] = fetched_key.pop(key)
        
        keys = [self._norm_field(k) for k in keys]
        key_columns = self._key_columns(keys)    
        
        fields = [self._norm_field(f) for f in fields]
        all_columns = ", ".join(fields)

        key_json = []
        fields_json = []        
        for field in fields:
            if field in fetched_key:
                key_value = str(fetched_key[field]).replace('"','')
                key_json.append("%s = %s" % (field, key_value))
            field_value = fetched_key.get(field, field)
            fields_json.append('"%s": "%s"' % (field, field_value))
        
        row_key = '(%s)' % ', '.join(key_json)
        response_format = ', '.join(fields_json)
        prompt = self.ROW_TEMPLATE % (query, all_columns, key_columns, row_key, response_format)        
        return prompt 
    
    def parse_row_response(self, response):          
        if not response.startswith("{") and "{" in response:
            response = response[response.find("{"):]

        if not response.endswith("}") and "}" in response:
            response = response[:response.find("}")+1]

        response_json = json.loads(response)
        return response_json
    
    def create_dataframe(self, rows, columns, keys, df_ref): 
        df = pd.DataFrame.from_dict(rows)  
        columns = [self._norm_field(col) for col in columns]
        df = df[columns]
        df.columns = df_ref.columns
        df = df.drop_duplicates(subset=keys)
        return df

## Experiment Runner

In [3]:
class ExperimentRunner():
    openai.api_key = ""
    MODEL = "gpt-4o"
    NOTE = 'row_by_row_oracle_keys'
    
    def __init__(self, table_generator, metadata_path):
        with open(metadata_path, "rb") as f:
            self.metadata = json.load(f)
            
        self.table_generator = table_generator
        self.encoding = tiktoken.get_encoding("cl100k_base")
        
        self.result_folder = "DATA/%s_%s_%s" % (self.MODEL.split("/")[-1].replace('-', '_'), 
                                                   self.NOTE,
                                                   time.strftime("%Y%m%d-%H%M%S"))
        
        print("Experiment result folder: %s" % self.result_folder)
        
        os.makedirs(self.result_folder)
        os.makedirs("%s/tables" % self.result_folder)
        
        self.result = {}
        
    def fetch_data(self, idx):
        task = self.metadata[idx]
        
        task_name = task['name']        
        print("Fetching data for %s" % task_name)
        
        query = task['table_title']
        keys = task['keys']
        columns = task['columns'] 
            
        try:
            df_ref = pd.read_csv(task['path'])
            oracle_keys = df_ref[keys].to_dict('records')            
            print("Fetched %d oracle key instances" % len(oracle_keys))                       

            self.result[idx] = {} 
            self.result[idx]['row_prompts'] = []
            self.result[idx]['row_responses'] = []
            rows = []
            
            for key_instance in oracle_keys:
                try:
                    row_prompt_i = self.table_generator.generate_row_prompt(query, keys, columns, key_instance)
                    self.result[idx]['row_prompts'].append(row_prompt_i)
                   
                    result = openai.ChatCompletion.create(
                        model=self.MODEL,
                        messages=[{"role": "system", "content": self.table_generator.SYSTEM_MSG},
                        {"role": "user", "content": row_prompt_i}],
                        temperature=0)

                    row_response = result["choices"][0]["message"]["content"].strip()
                    self.result[idx]['row_responses'].append(row_response)

                    parsed_row_response = self.table_generator.parse_row_response(row_response)
                    rows.append(parsed_row_response)
                except Exception as ie:
                    print(ie.__class__.__name__)
                    rows_json = []
                    fields = [self.table_generator._norm_field(col) for col in columns]
                    for field in fields:
                        value = key_instance.get(field, "failed")
                        rows_json.append('"%s": "%s"' % (field, value))
                    failed_row = "{%s}" % ', '.join(rows_json)
                    rows.append(json.loads(failed_row))        
            
            df = self.table_generator.create_dataframe(rows, columns, keys, df_ref) 

            table_path = "%s/tables/%s.csv" % (self.result_folder, task_name)
            self.result[idx]['table_path'] = table_path                
            df.to_csv(table_path, index=False)            

            print("Created table with %d rows" % len(df))

            return df
        except Exception as e:  
            print(e.__class__.__name__)
            
    def save_result(self):
        with open("%s/result.json" % self.result_folder, "w") as outfile:
            result_json = json.dumps(self.result, indent=4)
            outfile.write(result_json)

## Test

In [4]:
 tg = TableGenerator_JSON()

runner = ExperimentRunner(tg, metadata_path="DATA/benchmark/cfg.json")

print("\n====================\n")

for i in range(30,61):
    print("Table # %d" % (i+1))
    idx = "%d" % i
    table = runner.fetch_data(idx)
    print("\n====================\n")
    
runner.save_result()

Experiment result folder: DATA/gpt_4o_row_by_row_oracle_keys_20240927-160338

====================

Table # 31
Fetching data for classic_100_ten_years_on
Fetched 100 oracle key instances
Created table with 100 rows

====================

Table # 32
Fetching data for udaykumar_films
Fetched 160 oracle key instances
Created table with 160 rows

====================

Table # 33
Fetching data for fa_cup_qualifying_rounds_1999_2000
Fetched 197 oracle key instances
Created table with 197 rows

====================

Table # 34
Fetching data for portuguese_grape_varieties
Fetched 126 oracle key instances
Created table with 126 rows

====================

Table # 35
Fetching data for ramsar_convention_parties
Fetched 166 oracle key instances
Created table with 166 rows

====================

Table # 36
Fetching data for guitar_hero_5_songs
Fetched 85 oracle key instances
Created table with 85 rows

====================

Table # 37
Fetching data for south_cambridgeshire_district_council_1973_2012
Fetched 40 oracle key instances
Created table with 40 rows

====================

Table # 38
Fetching data for dublin_maternity_hospital_mortality_rates_1784_1849
Fetched 66 oracle key instances
Created table with 66 rows

====================

Table # 39
Fetching data for ship_launches_january_1944
Fetched 96 oracle key instances
Created table with 96 rows

====================

Table # 40
Fetching data for uk_demographics_1960_2012
Fetched 53 oracle key instances
Created table with 53 rows

====================

Table # 41
Fetching data for fukushima_plant_operating_history_1970_2009
Fetched 40 oracle key instances
Created table with 40 rows

====================

Table # 42
Fetching data for new_zealand_football_results_1922_2012
Fetched 56 oracle key instances
Created table with 56 rows

====================

Table # 43
Fetching data for jack_nicklaus_achievements_1962_2005
Fetched 44 oracle key instances
Created table with 44 rows

====================

Table # 44
Fetching data for bond_credit_rating_1981_2008
Fetched 28 oracle key instances
Created table with 28 rows

====================

Table # 45
Fetching data for baltimore_oreoles_2012
Fetched 26 oracle key instances
Created table with 26 rows

====================

Table # 46
Fetching data for david_robinson_40_pts_games
Fetched 23 oracle key instances
Created table with 23 rows

====================

Table # 47
Fetching data for latin_american_migration_to_uk_1997_2008
Fetched 19 oracle key instances
Created table with 19 rows

====================

Table # 48
Fetching data for european_countries_gdp_2007_2012
Fetched 47 oracle key instances
Created table with 47 rows

====================

Table # 49
Fetching data for royal_dulton_figurines_HN4100_HN4199
Fetched 59 oracle key instances
Created table with 59 rows

====================

Table # 50
Fetching data for adaalat_episodes_2012
Fetched 100 oracle key instances
Created table with 100 rows

====================

Table # 51
Fetching data for viktoria_plzen_1993_2012
Fetched 20 oracle key instances
Created table with 20 rows

====================

Table # 52
Fetching data for just_dance_kids_2_tracks
Fetched 39 oracle key instances
Created table with 39 rows

====================

Table # 53
Fetching data for cross_country_junior_women_1996
Fetched 115 oracle key instances
Created table with 115 rows

====================

Table # 54
Fetching data for metropolitan_opera_us_premieres
Fetched 99 oracle key instances
Created table with 99 rows

====================

Table # 55
Fetching data for kasparov_kramnik_1993_2004
Fetched 49 oracle key instances
Created table with 49 rows

====================

Table # 56
Fetching data for decathlon_top50_1999
Fetched 50 oracle key instances
Created table with 50 rows

====================

Table # 57
Fetching data for minor_planets_152601_152700
Fetched 100 oracle key instances
Created table with 100 rows

====================

Table # 58
Fetching data for two_and_a_half_men_season_7
Fetched 22 oracle key instances
Created table with 22 rows

====================

Table # 59
Fetching data for moesha_season_7
Fetched 26 oracle key instances
Created table with 26 rows

====================

Table # 60
Fetching data for miss_new_york_usa_delegates_2012
Fetched 142 oracle key instances
Created table with 142 rows

====================

Table # 61
Fetching data for clint_dolezel_stats_1995_2008
Fetched 13 oracle key instances
Created table with 13 rows

====================