In [1]:
import pandas as pd

In [2]:
def fetch_results(path, model, method):
    table = pd.read_csv(path).iloc[100]
    table['Model'] = model
    table['Method'] = method
    return table

In [3]:
gpt4_turbo_base = fetch_results("DATA/gpt_4_turbo_w_break_generic_keys_rows_20240928-130728/scores_100.csv", "GPT4-Turbo", "Base")
gpt4_turbo_oracle = fetch_results("DATA/gpt_4_turbo_w_break_row_by_row_oracle_keys_20240928-222705/scores_100.csv", "GPT4-Turbo", "Oracle")
gpt4o_base = fetch_results("DATA/gpt_4o_generic_keys_rows_20240728-073304/scores_100.csv", "GPT-4o", "Base")
gpt4o_oracle = fetch_results("DATA/gpt_4o_row_by_row_oracle_keys_20240927-134041/scores_100.csv", "GPT-4o", "Oracle")
llama70b_base = fetch_results("DATA/Meta_Llama_3.1_70B_Instruct_generic_keys_rows_20240728-073256/scores_100.csv", "LLaMa3.1_70b", "Base")
llama70b_oracle = fetch_results("DATA/Meta_Llama_3.1_70B_Instruct_row_by_row_oracle_keys_20240923-141203/scores_100.csv", "LLaMa3.1_70b", "Oracle")
llama405b_base = fetch_results("DATA/Meta_Llama_3.1_405B_Instruct_generic_keys_rows_20240913-213247/scores_100.csv", "LLaMa3.1_405b", "Base")
llama405b_oracle = fetch_results("DATA/Meta_Llama_3.1_405B_Instruct_row_by_row_oracle_keys_20240923-141236/scores_100.csv", "LLaMa3.1_405b", "Oracle")

In [4]:
res_df = pd.concat([
    gpt4_turbo_base,
    gpt4_turbo_oracle,
    gpt4o_base,
    gpt4o_oracle,
    llama70b_base,
    llama70b_oracle,
    llama405b_base,
    llama405b_oracle
], axis=1).drop('Table').T.set_index(['Model', 'Method'])[['Non_Keys_F1_Score', 'F1_Score']]

res_df

                     Non_Keys_F1_Score  F1_Score
Model         Method
GPT4-Turbo    Base            0.116909  0.189058
              Oracle          0.229084   0.39173
GPT-4o        Base            0.137961  0.208433
              Oracle          0.260511  0.417128
LLaMa3.1_70b  Base            0.122032  0.190193
              Oracle          0.255769  0.413532
LLaMa3.1_405b Base            0.140818  0.206672
              Oracle           0.30904  0.454544

In [5]:
res_df.to_csv("RESULTS/t3_base_n_oracle.csv")